
html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #113e70;
  margin: 0;
  letter-spacing: 1px;
}

.divider {
  width: 80px;
  height: 4px;
  background-color: #1976d2;
  border: none;
  border-radius: 2px;
  margin: 1rem auto 2rem auto;
}

/* Estilos para las notificaciones */
.success-snackbar {
  background: #4caf50;
  color: white;
}

.error-snackbar {
  background: #f44336;
  color: white;
}

.warning-snackbar {
  background: #ff9800;
  color: white;
}

.info-snackbar {
  background: #2196f3;
  color: white;
}

.mat-mdc-snack-bar-container {
  margin-top: 20px;
}
